/* Resets */
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.42857;
    font-family: helvetica, sans-serif;
    text-align: center;
}

@font-face {
    font-family: "Icons";
    src: url(icons.eot);
    src: url(icons.eot?#iefix) format("embedded-opentype"),
         url(icons.woff) format("woff"),
         url(icons.ttf) format("truetype"),
         url(icons.svg#atlassian-icons) format("svg");
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

table {
    border-collapse: collapse;
}

#page {
    margin: 0 auto;
    height: 768px;
    width: 1024px;
    max-height: 768px;
    max-width: 1024px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: left;
    position: relative;
}

/* Calendar */

.hours {
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: top;
    text-indent: -999em;
}

.hours > .hour {
    border-top: 1px solid grey;
    height: 80px;
}

.hours > .hour:first-child {
    border-top: none;
}

.day:first-of-type .hours {
    text-indent: 0;
}

.calendar {
    width: 1024px;
    height: 768px;
    display: table;
}

.calendar.full,
.calendar.full .hours {
    width: 1024px;
}

.calendar > header > h1,
.calendar > section > .day,
.calendar > section > .day > .hours {
    width: 146px;
    min-width: 146px;
}

.calendar > header > h1,
.calendar > section > .day {
    display: table-cell;

    position: relative;
}

.calendar > header > h1.weekend,
.calendar > section > .day.weekend,
.calendar > section > .day.weekend > .hours {
    width: 147px;
    min-width: 147px;
}

.day {
    height: 1920px; /* 24hr * 80px per hour */
    vertical-align: top;
    padding: 0 15px 0 14px;
    border-left: 1px solid grey;
}

.day.weekend {
    background: rgba(211, 211, 211, 0.5);
}

.calendarOverview .day.weekend.today,
.calendarOverview .day.today {
    background: rgba(173, 216, 230, 0.5);
}

.calendarOverview .calendar > header > h1.today {
    background: rgba(173, 216, 230, 0.5);
}

.day:first-of-type {
    border-left: none;
    padding-left: 15px;
}

.calendar > header {
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid grey;
    background: white;
    top: 0;
}

.calendar > header > h1 {
    height: 39px;
    font-size: 20px;
    line-height: 2;
    vertical-align: middle;
    text-align: center;
    float: left;
}

.calendar > header ~ section {
    margin-top: 40px;
    position: relative;
}

.day .event-entry {
    text-decoration: none;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 20px 5px 5px;
    width: 116px;
}

.day .event-entry > time {
    position: absolute;
    font-size: 10px;
    top: 5px;
}

.side-panel,
.calendar.side-panel .hours,
.calendar.side-panel > header > h1,
.calendar.side-panel > section > .day,
.calendar.side-panel > section > .day .hours {
    width: 250px;
}

.calendar.side-panel .day .event-entry {
    width: 220px;
}

.side-panel {
    position: fixed;
    top: 0;
    border-right: 1px solid grey;
    min-height: 768px;
}

.calendar.side-panel > section {
    overflow-x: hidden;
    height: 728px; /* 768px - 40px */
}

.side-panel + .main-panel {
    margin-left: 250px;
}

.main-panel {
    padding-top: 40px;
}

.main-panel > .toolbar {
    height: 40px;
    border-bottom: 1px solid grey;
    padding: 5px 10px;
    position: fixed;
    width: 774px; /* 1024px - 250px; */
    top: 0;
    z-index: 10;
    background: white;
}

.main-panel > .toolbar > h2 {
    text-align: center;
}

.back-button,
.main-panel > .toolbar .actions {
    position: absolute;
    top: 5px;
}

.back-button {
    left: 10px;
}

.main-panel > .toolbar .actions {
    right: 10px;
}

.back-button,
.main-panel > .toolbar .actions > a {
    display: inline-block;
    height: 30px;
    vertical-align: middle;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 15px;
    line-height: 2;
    text-decoration: none;
    color: black;
}

.main-panel > .toolbar .actions > a.selected {
    background-color: lightgrey;
}

.main-panel > .toolbar .actions > a {
    float: right;
    border-radius: 0;
}

.main-panel > .toolbar .actions > a + a {
    border-right: 0;
}

.main-panel > .toolbar .actions > .recent-tab {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}

.main-panel > .toolbar .actions > .search-tab {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.main-panel > .toolbar .actions > a + a {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.content {
    padding: 10px;
}

.contentCollection .content {
    padding: 0;
}

/* Calendar details */

.event-details .title {
    height: 60px;
}

.event-details .title h1 {
    font-size: 32px;
    line-height: 1.25;
}

.person {
    display: inline-block;
    padding-left: 25px;
    background: url('../img/avatar.png') no-repeat top left;
    background-size: 20px;
}

.event-details .attendees h4 {
    display: inline-block;
}

.event-details .attendees h4:after {
    content: ": ";
}

.event-details .attendees,
.event-details .extra,
.event-details .editable-content {
    margin-top: 20px;
}

.event-details .extra .location {
    display: table-cell;
    width: 200px;
}

.event-details .extra .description {
    padding-left: 20px;
    display: table-cell;
}

.event-details .editable-content {
    display: table;
    width: 100%;
}

.event-details .editable-content .personal-notes,
.event-details .editable-content .media {
    display: table-cell;
    width: 50%;
}

.event-details .editable-content header {
    position: relative;
    height: 40px;
    border-bottom: 1px solid grey;
}

.event-details .editable-content h4 {
    font-size: 32px;
    line-height: 1.25;
}

.event-details .editable-content header .actions {
    position: absolute;
    right: 0;
    top: 0;
}

.event-details .editable-content .personal-notes header .actions {
    right: 10px;
}

.event-details .editable-content header .actions > a {
    border: 1px solid grey;
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    color: transparent;
}

.event-details .editable-content header .actions > .add-button:before {
    font-size: 40px;
    line-height: 1;
    color: black;
    font-family: "Icons";
    content: "\e002";

}

.event-details .editable-content header .actions > .edit-button:before {
    font-size: 40px;
    line-height: 1;
    color: black;
    font-family: "Icons";
    content: "\e014";

}

.event-summary .title {
    padding: 10px;
    height: 40px;
    border-bottom: 1px solid grey;
}

.event-summary > section {
    padding: 10px;
}

.event-summary .personal-notes,
.event-summary .media {
    margin-top: 20px;
}

.event-summary .personal-notes,
.event-summary .media {
    min-height: 250px;
}

/* Recent Activity */
.content-item {
    padding: 10px 10px 10px 80px;
    height: 80px;
    border-bottom: 1px solid grey;
    position: relative;
}

.content-item.image:after {
    content: '>';
    font-size: 80px;
    line-height: 1;
    font-weight: lighter;
    position: absolute;
    right: 10px;
    top: 0;
    color: grey;
}

.content-item > img {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid grey;
    z-index: 30;
}

.dropzone {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
    background: #ffffff;
    border: 2px dashed #14892c;
    border-radius: 5px;
    height: 630px;
    width: 230px;
    color: #14892c;
    vertical-align: middle;
    font-size: 30px;
    line-height: 20;
    text-align: center;
}

.media-item {
    border-bottom: 1px solid grey;
    height: 30px;
    padding: 5px 5px 5px 30px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.event-summary .media-item:first-child {
    border-top: 1px solid grey;
}

.media-item > img {
    position: absolute;
    top: 5px;
    left: 5px;
    border: 1px solid grey;
}

/* Search pages */

input[type="search"] {
    display: block;
    font-size: 20px;
    width: 754px; /* 1024px - 250px - 20px; */
    height: 30px;
    margin: -1px 10px 0;
    font-family: helvetica, sans-serif;
}

.no-results {
    font-size: 20px;
    margin-top: 10px;
    display: block;
    text-align: center;
}

/* Image preview */

.image-preview {
    position: absolute;
    background: white;
    top: 40px;
    left: 250px;
    z-index: 50;
    width: 774px;
    height: 728px; /* 768px - 40px */
    text-align: center;
}

.image-preview .add-image-button,
.image-preview .close-image-button {
    border: 1px solid grey;
    display: block;
    width: 60px;
    height: 60px;
    color: transparent;
    position: absolute;
    top: -1px;
}

.image-preview .add-image-button {
    left: -1px;
}

.image-preview .add-image-button:before {
    font-size: 60px;
    line-height: 1;
    color: black;
    font-family: "Icons";
    content: "\e002";

}

.image-preview .close-image-button {
    right: 0;
}

.image-preview .close-image-button:before {
    font-size: 60px;
    line-height: 1;
    color: black;
    font-family: "Icons";
    content: "\e00e";

}

/* Edit notes */

.editNotes .toolbar {
    width: 1024px;
}

.editNotes textarea {
    width: 1024px;
    min-height: 768px;
    font-size: 16px;
}

/* Color groups */

.color-group-1 {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}

.color-group-1.selected {
    background-color: #ccc;
    border-color: #ccc;
    color: #333;
}

.color-group-2 {
    background-color: #fff;
    border-color: #b2d8b9;
    color: #14892c;
}

.color-group-2.selected {
    background-color: #14892c;
    border-color: #14892c;
    color: #fff;
}

.color-group-3 {
    background-color: #fff;
    border-color: #f8d3d1;
    color: #d04437;
}

.color-group-3.selected {
    background-color: #d04437;
    border-color: #d04437;
    color: #fff;
}

.color-group-4 {
    background-color: #fff;
    border-color: #ffe28c;
    color: #594300;
}

.color-group-4.selected {
    background-color: #ffd351;
    border-color: #ffd351;
    color: #594300;
}

.color-group-5 {
    background-color: #fff;
    border-color: #e4e8ed;
    color: #4a6785;
}

.color-group-5.selected {
    background-color: #4a6785;
    border-color: #4a6785;
    color: #fff;
}

.color-group-6 {
    background-color: #fff;
    border-color: #ece7e2;
    color: #815b3a;
}

.color-group-6.selected {
    background-color: #815b3a;
    border-color: #815b3a;
    color: #fff;
}