<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Assignment 3</title>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
    <div id="page">

    </div>

    <!-- Templates -->
    <script id="calendarOverview-template" type="text/x-handlebars-template">
        <div class="calendar full">
            <header>{{#days}}{{> calendarHeader}}{{/days}}</header>
            <section>{{#days}}{{> calendarDay}}{{/days}}</section>
        </div>
    </script>

    <script id="eventDetails-template" type="text/x-handlebars-template">
        {{#day}}
        <div class="calendar side-panel">
            <header>
                {{> calendarHeader}}
            </header>
            <section>
                {{> calendarDay}}
            </section>
        </div>
        {{/day}}
        {{#event}}
        <div class="main-panel">
            <nav class="toolbar">
                <a class="back-button" href="#calendarOverview">Back to calendar</a>
            </nav>
            <section class="content event-details">
                <header class="title"><h1>{{title}}</h1></header>
                <section class="attendees">
                    <h4>Attendees</h4>
                    {{#attendees}}
                    <div class="person">{{displayName}}</div>
                    {{/attendees}}
                </section>
                <div class="extra">
                <section class="location">
                    <h4>Location</h4>
                    <p>{{location}}</p>
                </section>
                <section class="description">
                    <h4>Description</h4>
                    <p>{{description}}</p>
                </section>
                </div>
                <div class="editable-content">
                    <section class="personal-notes">
                        <header>
                            <h4>Personal Notes</h4>
                            <nav class="actions">
                                <a class="add-button" href="#contentCollection/{{id}}/recent">Add</a>
                                <a class="edit-button" href="#editNotes/{{id}}">Edit</a>
                            </nav>
                        </header>
                        {{#if personalNotes}}
                            <div class="notes">{{{prettyNotes personalNotes}}}</div>
                        {{else}}
                            <em>Press the plus to add notes</em>
                        {{/if}}
                    </section>
                    <section class="media">
                        <header>
                            <h4>Media</h4>
                            <nav class="actions">
                                <a class="add-button" href="#contentCollection/{{id}}/recent">Add</a>
                            </nav>
                        </header>
                        {{#if media}}
                            {{> mediaItems}}
                        {{else}}
                            <em>Press the plus to add media</em>
                        {{/if}}
                    </section>
                </div>
            </section>
        </div>
        {{/event}}
    </script>

    <script id="contentCollection-template" type="text/x-handlebars-template">
        {{#event}}
        <div class="event-summary side-panel" data-id="{{id}}">
            <header class="title"><h4>{{title}}</h4></header>
            <section>
                <section class="attendees">
                    <h4>Attendees</h4>
                    {{#attendees}}
                    <div class="person">{{displayName}}</div>
                    {{/attendees}}
                </section>
                <div class="editable-content">
                    <section class="personal-notes">
                        <h4>Personal Notes</h4>
                        {{#if personalNotes}}
                            <div class="notes">{{{prettyNotes personalNotes}}}</div>
                        {{else}}
                            <em>Drag content thumbnails here to add notes</em>
                        {{/if}}
                    </section>
                    <section class="media">
                        <h4>Media</h4>
                        {{#if media}}
                            {{> mediaItems}}
                        {{else}}
                            <em>Drag content thumbnails here to add media</em>
                        {{/if}}
                    </section>
                </div>
            </section>
        </div>
        {{/event}}
        <div class="main-panel">
            <nav class="toolbar">
                <a class="back-button" href="#eventDetails/{{event.id}}">Back</a>
                <h2>
                    {{#isRecentMode}}Recent Activity{{/isRecentMode}}
                    {{#isSearchMode}}Search{{/isSearchMode}}
                </h2>
                <nav class="actions">
                    <a href="#contentCollection/{{event.id}}/search" class="search-tab{{#isSearchMode}} selected{{/isSearchMode}}">Search</a>
                    <a href="#contentCollection/{{event.id}}/recent" class="recent-tab{{#isRecentMode}} selected{{/isRecentMode}}">Recent</a>
                </nav>
            </nav>
            {{#isSearchMode}}<input type="search" placeholder="Type to search"/>{{/isSearchMode}}
            <section class="content">
                {{#recentActivityItems}}
                    {{> activityItem}}
                {{/recentActivityItems}}
            </section>
        </div>
    </script>

    <script id="editNotes-template" type="text/x-handlebars-template">
        <div class="main-panel">
            <nav class="toolbar">
                <h2>Personal Notes</h2>
                <nav class="actions">
                    <a href="#contentCollection/{{id}}/recent" class="search-tab">Add Content</a>
                    <a href="#eventDetails/{{id}}" class="recent-tab">Done</a>
                </nav>
            </nav>
            <textarea data-id="{{id}}">{{personalNotes}}</textarea>
        </div>
    </script>

    <script id="times-partial" type="text/x-handlebars-template">
        <aside class="hours">
            <div class="hour"><time>12am</time></div>
            <div class="hour"><time>1am</time></div>
            <div class="hour"><time>2am</time></div>
            <div class="hour"><time>3am</time></div>
            <div class="hour"><time>4am</time></div>
            <div class="hour"><time>5am</time></div>
            <div class="hour"><time>6am</time></div>
            <div class="hour"><time>7am</time></div>
            <div class="hour"><time>8am</time></div>
            <div class="hour"><time>9am</time></div>
            <div class="hour"><time>10am</time></div>
            <div class="hour"><time>11am</time></div>
            <div class="hour"><time>12pm</time></div>
            <div class="hour"><time>1pm</time></div>
            <div class="hour"><time>2pm</time></div>
            <div class="hour"><time>3pm</time></div>
            <div class="hour"><time>4pm</time></div>
            <div class="hour"><time>5pm</time></div>
            <div class="hour"><time>6pm</time></div>
            <div class="hour"><time>7pm</time></div>
            <div class="hour"><time>8pm</time></div>
            <div class="hour"><time>9pm</time></div>
            <div class="hour"><time>10pm</time></div>
            <div class="hour"><time>11pm</time></div>
        </aside>
    </script>

    <script id="calendarHeader-partial" type="text/x-handlebars-template">
        <h1 class="{{#isWeekend}}weekend{{/isWeekend}}{{#isToday}} today{{/isToday}}">{{name}}</h1>
    </script>

    <script id="calendarDay-partial" type="text/x-handlebars-template">
        <div class="day{{#isWeekend}} weekend{{/isWeekend}}{{#isToday}} today{{/isToday}}">
        {{> times}}
        {{#events}}
            <a href="#eventDetails/{{id}}" class="event-entry {{colorGroup}}{{#selected}} selected{{/selected}}" data-id="{{id}}" style="top: {{eventOffset offset}}; height: {{eventDuration duration}};">
                <h5>{{title}}</h5>
                <time>{{timeText}}</time>
            </a>
        {{/events}}
        </div>
    </script>

    <script id="activityItem-partial" type="text/x-handlebars-template">
        <article class="content-item{{#isImage}} image{{/isImage}}" data-id="{{id}}">
            <h3>{{title}}</h3>
            <img src="img/{{type}}-avatar.png" width="60" height="60" draggable />
            <time>{{ageText}}</time>
            {{#description}}
                <p>{{this}}</p>
            {{/description}}
        </article>
    </script>

    <script id="mediaItems-partial" type="text/x-handlebars-template">
        <div class="media-items">
        {{# media}}
            <article class="media-item">
                {{title}}
                <img src="img/{{type}}-avatar.png" width="20" height="20" draggable />
            </article>
        {{/media}}
        </div>
    </script>

    <script id="imagePreview-partial" type="text/x-handlebars-template">
        <div class="image-preview">
            <a href="#" class="add-image-button" data-id="{{id}}">Add</a>
            <a href="#" class="close-image-button">Close</a>
            <img src="/img/preview-image.gif">
        </div>
    </script>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/handlebars.js"></script>
    <script src="js/test-data.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
